{% extends 'base.html' %}

{% block content %} 
<canvas id="myChart"></canvas>
<input type="hidden" name="labels" id="labels" value="{{labels}}">
<input type="hidden" name="data" id="data" value="{{data}}">
{% for i in data %}
<p>{{i}}</p>
{% endfor %}

{% for i in labels %}
<p>{{i}}</p>
{% endfor %}

{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        let labels = $("#labels").val();
        let data = $("#data").val();

        alert(data)

        let ctx = document.getElementById('myChart');
        let myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '요소',
                    data: data,
                }]
            },
        });

     });
</script> 
{% endblock %}