<div id="show_weather">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                날씨 상황
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>강수 형태: </strong><span id="PTY"></span>
            </div>

            <div class="accordion-body">
                <strong>기온: </strong><span id="T1H"></span><span>도</span>
            </div>

            <div class="accordion-body">
                <strong>습도: </strong><span id="REH"></span><span>%</span>
            </div>

            <div class="accordion-body">
                <strong>강수량: </strong><span id="RN1"></span>
            </div>
            
            <div class="accordion-body">
                <strong>풍향: </strong><span id="VEC"></span>
            </div>

            <div class="accordion-body">
                <strong>풍속: </strong><span id="WSD"></span><span>m/s</span>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>